<ion-card>
  <ion-card-header>
    <ion-card-title class="d-none d-md-block">{{ title }}</ion-card-title>
    <div class="row d-flex justify-content-end" *ngIf="showAdd">
      <div style="width: 150px">
        <ion-button color="primary" (click)="onAddButtonClick()">
          Agregar <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="showCalendar">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="max-width: 250px">
        <label for="monthPicker">Seleccionar Mes</label>
        <div class="d-flex">
          <select
            id="monthPicker"
            class="form-control me-2"
            [(ngModel)]="selectedMonth"
            (change)="onMonthChange()">
            <option *ngFor="let month of months" [value]="month.value">
              {{ month.name }}
            </option>
          </select>
          <select
            class="form-control"
            [(ngModel)]="selectedYear"
            (change)="onMonthChange()">
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <ion-searchbar
        placeholder="Buscar..."
        [(ngModel)]="search"
        (ngModelChange)="searchValueChanged($event)"></ion-searchbar>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="table-responsive d-none d-md-block">
      <table class="custom-table">
        <thead>
          <tr>
            <th *ngFor="let column of columnsData" class="text-center">
              {{ column.alias }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let column of columnsData" class="text-center">
              <ng-container
                *ngIf="column.key !== 'actions'; else actionsTemplate">
                <ng-container [ngSwitch]="column.type">
                  <ng-container *ngSwitchCase="'boolean'">
                    <span
                      class="badge"
                      [ngClass]="{
                        'text-bg-success': getCellValue(row, column) ==='true',
                        'text-bg-secondary': getCellValue(row, column) === 'false'
                      }">
                      {{ getCellValue(row, column) ==='true' ? "Activo" : "Inactivo" }}
                      <!-- {{ getCellValue(row, column) }} -->
                    </span>
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    {{
                      getCellValue(row, column) | customDate : 6 : "dd/MM/yyyy"
                    }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'percentage'">
                    {{ getCellValue(row, column) | number : "1.2-2" }}%
                  </ng-container>
                  <ng-container *ngSwitchCase="'currency'">
                    {{ getCellValue(row, column) | currency : "L" : "symbol" }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'dni'">
                    {{ getCellValue(row, column) | formatDni }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ getCellValue(row, column) }}
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #actionsTemplate>
                <!-- Tu código existente para las acciones -->
                <div class="d-flex justify-content-around">
                  <ion-button
                    color="primary"
                    (click)="onEditButtonClick(row)"
                    class="me-2">
                    Editar
                  </ion-button>
                  <ion-button color="danger" (click)="onDeleteButtonClick(row)">
                    Eliminar
                  </ion-button>
                  <ion-button
                    expand="block"
                    (click)="onResetPassword(row)"
                    *ngIf="hasResetPswdColumn()"
                    color="tertiary">
                    <ion-icon class="pe-1" name="key"></ion-icon>
                    <ion-label>Restablecer</ion-label>
                  </ion-button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>

<!-- Sección de vista móvil -->
<section class="d-md-none">
  <ion-list>
    @for (row of data; track row.id) {
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Usuario"
          src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      </ion-thumbnail>
      <ion-label>
        <ng-container [ngSwitch]="columnsData[0].type">
          <ng-container *ngSwitchCase="'concat'">
            <h2>
              {{ getCellValue(row, columnsData[0]) }}
            </h2>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <h2>
              {{ getCellValue(row, columnsData[0]) }}
              {{ getCellValue(row, columnsData[1]) }}
            </h2>
          </ng-container>
        </ng-container>

        <ng-container [ngSwitch]="columnsData[2].type">
          <ng-container *ngSwitchCase="'dni'">
            <p>{{ getCellValue(row, columnsData[2]) | formatDni }}</p>
          </ng-container>
          <ng-container *ngSwitchCase="'currency'">
            <p>
              {{
                getCellValue(row, columnsData[2]) | currency : "L" : "symbol"
              }}
            </p>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <p>{{ getCellValue(row, columnsData[2]) }}</p>
          </ng-container>
        </ng-container>
        <div
          class="d-flex justify-content-between align-content-center align-items-center">
          <ion-badge
            [color]="
              getCellValue(row, getEstadoColumn()) ? 'success' : 'tertiary'
            ">
            {{ getCellValue(row, getEstadoColumn()) ? "Activo" : "Inactivo" }}
          </ion-badge>
          <ion-buttons>
            <ion-button
              shape="round"
              color="primary"
              (click)="onInfoButtonClick(row)">
              <ion-icon name="open-outline" size="medium"></ion-icon>
            </ion-button>
            <ion-button
              shape="round"
              color="primary"
              *ngIf="hasResetPswdColumn()"
              (click)="onResetPassword(row)">
              <ion-icon name="key-outline" size="medium"></ion-icon>
            </ion-button>
            <ion-button
              shape="round"
              color="primary"
              (click)="onEditButtonClick(row)">
              <ion-icon name="create-outline" size="medium"></ion-icon>
            </ion-button>
            <ion-button
              shape="round"
              color="danger"
              (click)="onDeleteButtonClick(row)">
              <ion-icon name="trash-outline" size="medium"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-label>
    </ion-item>
    }
  </ion-list>
</section>

<!-- Seccion de paginacion -->
<section class="d-flex justify-content-center" *ngIf="search === ''">
  <nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-end">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" role="button" tabindex="0"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></a>
      </li>
      <li class="page-item" *ngIf="visiblePages[0] > 1">
        <span class="page-link">...</span>
      </li>
      <li
        class="page-item"
        *ngFor="let page of visiblePages"
        [class.active]="page === currentPage">
        <a
          class="page-link"
          (click)="goToPage(page)"
          role="button"
          tabindex="0"
          >{{ page }}</a
        >
      </li>
      <li
        class="page-item"
        *ngIf="visiblePages[visiblePages.length - 1] < totalPages">
        <span class="page-link">...</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" role="button" tabindex="0"
          ><ion-icon name="arrow-forward-outline"></ion-icon
        ></a>
      </li>
    </ul>
  </nav>
</section>
