<ion-content [fullscreen]="true">
  <app-breadcrumb></app-breadcrumb>

  <ion-card id="pago-form">
    <ion-card-content>
      <div
        class="alert alert-info d-flex justify-content-between py-1"
        role="alert">
        <div
          class="row d-flex align-content-center align-items-center justify-content-center">
          <p>
            <ion-icon name="person-outline"></ion-icon> Cliente Seleccionado:
            <strong>
              @if (clienteSeleccionado?.id) { {{clienteSeleccionado.nombres}}
              {{clienteSeleccionado.apellidos}} - {{clienteSeleccionado.dni}}
              }@else { No Aún }
            </strong>
          </p>
          <p *ngIf="hasAval">
            <ion-icon name="person-outline"></ion-icon> Aval Seleccionado:
            <strong>
              @if (avalSeleccionado?.id) { {{avalSeleccionado.nombres}}
              {{avalSeleccionado.apellidos}} - {{avalSeleccionado.dni}} }@else {
              No Aún }
            </strong>
          </p>
        </div>
        <div>
          <button class="btn btn-success" routerLink="/layout/prestamos">
            Ver Prestamos
            <ion-icon class="ms-2" name="open-outline"></ion-icon>
          </button>
          <!-- <ion-button routerLink="/layout/prestamos">
            Ver Prestamos
            <ion-icon class="ms-2" name="open-outline"></ion-icon>
          </ion-button> -->
        </div>
      </div>

      <div
        *ngIf="!existContrato"
        class="alert alert-danger d-flex justify-content-between py-1"
        role="alert">
        <p>
          No existe contrato registrado para este prestamo, debe generar uno
          primero.
        </p>
      </div>

      <div
        *ngIf="existContrato"
        class="alert"
        [ngClass]="{
          'alert-warning': isWarningState(),
          'alert-success': isSuccessState()
        }"
        role="alert">
        <ul class="task-list">
          <li [class.completed]="clienteSeleccionado?.id">
            <span>* Selecciona un cliente</span>
            @if (clienteSeleccionado?.id) {
            <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
            } @else {
            <ion-icon name="close-outline" color="danger"></ion-icon>
            }
          </li>
          <li [class.completed]="pagoSeleccionado?.id">
            <span>* Selecciona un pago a realizar</span>
            @if (pagoSeleccionado?.id) {
            <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
            } @else {
            <ion-icon name="close-outline" color="danger"></ion-icon>
            }
          </li>
          <li [class.completed]="pagoForm.valid">
            <span>* LLenar campos de formulario de pago</span>
            @if (pagoForm.valid) {
            <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
            } @else {
            <ion-icon name="close-outline" color="danger"></ion-icon>
            }
          </li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="existContrato">
    <ion-card-content>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="row">
                <ion-label>
                  Fecha de pago seleccionado:
                  <ion-text color="success"
                    >{{this.pagoSeleccionado?.fechaPago | customDate : 6 :
                    "dd/MM/yyyy" }}</ion-text
                  >
                </ion-label>
                <ion-label>
                  Cuota #:
                  <ion-text color="success"
                    >{{this.pagoSeleccionado?.numero }}</ion-text
                  >
                </ion-label>
                @if(hasMora){
                <ion-label>
                  Dias de retraso:
                  <ion-text color="danger">{{ daysLate }}</ion-text>
                </ion-label>
                }
              </div>

              <form [formGroup]="pagoForm" (ngSubmit)="save(pagoForm.value)">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label position="stacked" class="bold-label"
                          >Fecha registro de pago:</ion-label
                        >
                        <ion-input
                          (keyup)="changeDate()"
                          type="date"
                          formControlName="fechaPago"
                          placeholder="YYYY-MM-DD"></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12">
                      <ion-item>
                        <ion-label position="stacked" class="bold-label"
                          >Monto Cuota:</ion-label
                        >
                        <ion-input
                          [readonly]="true"
                          type="number"
                          formControlName="monto"
                          placeholder="Ingrese el monto"></ion-input>
                      </ion-item>
                    </ion-col>

                    @if(hasMora){
                    <ion-col size="12">
                      <ion-item>
                        <ion-label position="stacked" class="bold-label"
                          >Mora:</ion-label
                        >
                        <ion-input
                          type="number"
                          formControlName="mora"
                          placeholder="Ingrese el monto"></ion-input>
                      </ion-item>
                    </ion-col>
                    }
                  </ion-row>
                </ion-grid>

                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
                      <ion-button
                        expand="block"
                        type="submit"
                        class="ion-margin-top">
                        Guardar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>

              <app-uploader></app-uploader>
            </div>
            <div class="col-md-8 col-sm-12">
              <app-view-data
                [showAdd]="false"
                [showPagination]="false"
                [showSearch]="false"
                [currentPage]="1"
                [totalPages]="10"
                [title]="'Fechas de Pago'"
                [context]="'fecha de pago'"
                [data]="elements"
                [columnsData]="columnsData"
                (selectButtonClicked)="onselectButtonClicked($event)">
              </app-view-data>
            </div>
          </div>
        </div>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
