<div class="header">
  <h2>{{ company }}</h2>
  <h3>Cartera de Asesores</h3>
</div>
<div class="cliente-info">
  <div class="info-grid">
    <div class="info-item">
      <span class="info-label">ASESOR:</span>
      <span class="info-value">Eduardo Josue Orellana Dìaz</span>
    </div>
    <div class="info-item">
      <span class="info-label">COD. ASESOR:</span>
      <span class="info-value">1022</span>
    </div>
    <div class="info-item">
      <span class="info-label">TELÉFONO:</span>
      <span class="info-value">32647048</span>
    </div>
  </div>
</div>
<table>
  <tr>
    <th class="especial-right">Monto Otorgado:</th>
    <td>{{ 22000 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Saldo Capital Actual:</th>
    <td>{{ 20166.67 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Saldo Actual:</th>
    <td>{{ 29241.67 | currency : "L" : "symbol" }}</td>
  </tr>
  <tr>
    <th class="especial-right">Valor Cuota:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Tasa Promedio:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Valor Total a Pagar:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
  </tr>

  <tr>
    <th class="especial-right">Valor Cuotas Atrasadas:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Total Mora:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
    <th class="especial-right">Mora:</th>
    <td>{{ 2658.33 | currency : "L" : "symbol" }}</td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>ID Persona</th>
      <th>Nombre Cliente</th>
      <th>Celular</th>
      <th>Día Pago</th>
      <th>Monto Otorgado</th>
      <th>Saldo Capital Actual</th>
      <th>Saldo Actual</th>
      <th>Valor Cuota</th>
      <th>Plazo</th>
      <th>Meses</th>
      <th>Tasa</th>
      <th>Cuotas Pagadas</th>
      <th>Valor Total</th>
      <th>Valor Cuotas Atrasadas</th>
      <th>Días en Mora</th>
      <th>Total Mora</th>
      <th>Fecha Vencimiento</th>
      <th>Mora</th>
    </tr>
  </thead>
  <tbody>
    @for (item of carteraAsesor; track $index) {
    <tr>
      <td class="text-center">{{ item.IdPersona }}</td>
      <td>{{ item.nombreCliente }}</td>
      <td class="text-center">{{ item.celular }}</td>
      <td class="text-center">{{ item.diaPago }}</td>
      <td class="text-center">
        {{ item.montoOtorgado | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">
        {{ item.saldoCapitalActual | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">
        {{ item.saldoActual | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">
        {{ item.valorCuota | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">{{ item.plazo }}</td>
      <td class="text-center">{{ item.meses }}</td>
      <td class="text-center">{{ item.tasa }}</td>
      <td class="text-center">{{ item.cuotasPagadas }}</td>
      <td class="text-center">
        {{ item.valorTotal | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">
        {{ item.valorCuotasAtrasadas | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">{{ item.diasEnMora }}</td>
      <td class="text-center">
        {{ item.totalMora | currency : "L" : "symbol" }}
      </td>
      <td class="text-center">
        {{ item.fechaVencimiento | date : "dd/MM/yyyy" }}
      </td>
      <td class="text-center">{{ item.mora | currency : "L" : "symbol" }}</td>
    </tr>
    }
  </tbody>
</table>
