<ion-content [fullscreen]="true" class="ion-padding">
  <div class="h-100 d-flex justify-content-center align-content-center align-items-center">
    <ion-card style="max-width: 350px; width: 100%;">
      <ion-card-header>
        <ion-card-title>Recuperar Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Logo de la app -->
        <div class="d-flex justify-content-center">
          <div
            class="rounded rounded-pill justify-content-center align-content-center align-items-center"
            style="
              height: 150px;
              width: 150px;
              background-color: rgb(255, 255, 255);
            ">
            <img width="250" src="assets/logo.png" alt="logo" />
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="userEmail"></ion-input>
        </ion-item>
        <ion-button class="mt-2" expand="block" (click)="resetPassword()">
          Enviar instrucciones
        </ion-button>
        <ion-button
          class="mt-2"
          expand="block"
          fill="clear"
          (click)="goBackToLogin()">
          Volver al login
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>