<ion-content [fullscreen]="true">
  <app-loader [textLoader]="textLoader"></app-loader>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{toastMessage}}"
    [duration]="5000"
    (didDismiss)="setOpenedToast(false)"></ion-toast>

  <ion-card *ngIf="!isPrint">
    <ion-card-header>
      <ion-card-title>Datos Empresa/Bancarios</ion-card-title>
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger me-2" (click)="generatePDF()">
          Generar PDF
          <i class="fa-regular fa-file-pdf"></i>
        </button>
        <button class="btn btn-success" routerLink="/layout/prestamos">
          Ver Prestamos
          <ion-icon class="ms-2" name="open-outline"></ion-icon>
        </button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Banco a Depositar</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  [(ngModel)]="bancoDepositar"
                  [disabled]="!editarBancoDepositar"
                  placeholder="Ej: Banco Nacional"
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarBancoDepositar = !editarBancoDepositar"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarBancoDepositar ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Cuenta Bancaria a Depositar</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  [(ngModel)]="cuentaBancaria"
                  [disabled]="!editarCuentaBancaria"
                  placeholder="Ej: 1234-5678-9012-3456"
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarCuentaBancaria = !editarCuentaBancaria"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarCuentaBancaria ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Dirección Empresa</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  [(ngModel)]="direccionEmpresa"
                  [disabled]="!editarDireccionEmpresa"
                  placeholder="Ej: Col. Algun lugar..."
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarDireccionEmpresa = !editarDireccionEmpresa"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarDireccionEmpresa ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Ciudad</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  [(ngModel)]="ciudadBanco"
                  [disabled]="!editarCiudadBanco"
                  placeholder="Ej: Gracias Lempira..."
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarCiudadBanco = !editarCiudadBanco"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarCiudadBanco ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Fecha de Acuerdo</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  type="date"
                  placeholder="YYYY-MM-DD"
                  [(ngModel)]="fechaAcuerdo"
                  [disabled]="!editarFechaAcuerdo"
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarFechaAcuerdo = !editarFechaAcuerdo"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarFechaAcuerdo ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="4">
            <ion-item lines="full">
              <ion-label position="stacked" class="bold-label"
                >Lugar de Acuerdo</ion-label
              >
              <div style="display: flex; align-items: center; width: 100%">
                <ion-input
                  placeholder="Ej. Lugar de Acuerdo"
                  [(ngModel)]="lugarAcuerdo"
                  [disabled]="!editarLugarAcuerdo"
                  style="flex: 1">
                </ion-input>
                <ion-button
                  fill="clear"
                  (click)="editarLugarAcuerdo = !editarLugarAcuerdo"
                  style="margin-left: 8px">
                  <ion-icon
                    [name]="editarLugarAcuerdo ? 'checkmark-circle' : 'create'"
                    slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div>
    <!-- <ion-card-content id="print-element" > -->
    <div id="contentToPrint" #contentToPrint>
      <div class="carta">
        <div class="container">
          <div class="row">
            <h6 class="text-center mt-5 fw-bold">
              PAGARÉ POR {{this.prestamoSeleccionado?.totalMonto| currency : "L"
              : "symbol"}}
            </h6>

            <div class="col-12">
              @if(hasAval){
              <!-- Párrafo con aval -->
              <p>
                Nosotros,
                <strong>
                  {{clienteSeleccionado?.nombres}}
                  {{clienteSeleccionado?.apellidos}} </strong
                >, mayor de edad,
                {{toLowerCase(clienteSeleccionado?.estadoCivil?.descripcion)}},
                {{toLowerCase(clienteSeleccionado?.nacionalidad?.gentilicio)}},
                con documento nacional de identificación
                {{clienteSeleccionado?.dni}}, con domicilio en
                {{clienteSeleccionado?.direccion}} y Yo
                <strong
                  >{{avalSeleccionado?.nombres}} {{avalSeleccionado?.apellidos}} </strong
                >, con documento nacional de identificación
                {{avalSeleccionado?.dni|formatDni}}, en condición de aval
                solidario, mayor de edad,
                {{toLowerCase(avalSeleccionado?.estadoCivil?.descripcion)}},
                {{toLowerCase(avalSeleccionado?.nacionalidad?.gentilicio)}},
                con domicilio en {{avalSeleccionado?.direccion}}; por medio del
                presente documento:
              </p>
              }@else {
              <!-- Párrafo sin aval -->
              <p>
                Yo,
                <strong
                  >{{clienteSeleccionado?.nombres}}
                  {{clienteSeleccionado?.apellidos}}</strong
                >, mayor de edad,
                {{toLowerCase(clienteSeleccionado?.estadoCivil?.descripcion)}},
                {{toLowerCase(clienteSeleccionado?.nacionalidad?.gentilicio)}},
                con documento nacional de identificación
                {{clienteSeleccionado?.dni |formatDni}}, con domicilio en
                {{clienteSeleccionado?.direccion}}; por medio del presente
                documento:
              </p>
              }

              <h6 class="mt-4 mb-3 fw-bold">DECLARO Y HAGO CONSTAR</h6>

              <p>
                <strong>PRIMERO:</strong> Que estoy en adeudarle a
                @if(nombreEmpresa===''){
                <strong style="color: red">Pendiente Empresa</strong>
                }@else { {{nombreEmpresa}}} quien es representada legalmente por
                __________________ con documento nacional ________________ y con
                domicilio en @if(direccionEmpresa===''){
                <strong style="color: red">Pendiente Dirección</strong>
                }@else { {{direccionEmpresa}}}, la cantidad de veinte y seis mil
                lempiras exactos ({{this.prestamoSeleccionado?.totalMonto|
                currency : "L" : "symbol"}}).
              </p>
              <br />
              <p>
                <strong>SEGUNDO:</strong> Los cuales me comprometo a pagarlos,
                sin retraso alguno, en un lapso de tiempo de
                {{convertirNumero(prestamoSeleccionado?.planPago?.cuotasPagar)}}
                @switch (prestamoSeleccionado.idPeriodoCobro) { @case (1) {
                semanas} @case (2) { quincenas}@case (3) { meses} @default {
                Ninguno.} }, que serán pagaderos en fecha
                @if(this.prestamoSeleccionado?.planPago?.fechaFin){
                {{formatDate(this.prestamoSeleccionado?.planPago?.fechaFin)}}
                }@else {
                <strong style="color: red">No Aún</strong>
                } el cual se hará mediante depósito a cuenta número
                @if(cuentaBancaria===''){
                <strong style="color: red">Pendiente Cuenta Bancaria</strong>
                }@else { {{cuentaBancaria}}}, de @if(bancoDepositar===''){
                <strong style="color: red">Pendiente Banco</strong>
                }@else { {{bancoDepositar}}}, en la Ciudad de
                @if(ciudadBanco===''){
                <strong style="color: red">Pendiente Ciudad</strong>
                }@else { {{ciudadBanco}}}, la totalidad de veinte y seis mil
                lempiras exactos ({{this.prestamoSeleccionado?.totalMonto|
                currency : "L" : "symbol"}}) , por concepto de préstamo.
              </p>
              <br />
              <p>
                <strong>TERCERO:</strong> El incumplimiento de pago de la
                obligación pactada, dará derecho al Acreedor a proceder por vía
                Judicial, SIN PROTESTO, reclamando el total de la obligación,
                todos los gastos y honorarios de profesionales del Derecho, para
                el cumplimiento Judicial de lo adeudado, serán de cuenta del
                Deudor. Sirviendo este Documento, como TITULO EJECUTIVO, con
                aparejada Ejecución.
              </p>

              <p class="mt-4">
                En fe de lo cual y para los fines legales correspondientes,
                firmo el presente PAGARE en @if(this.lugarAcuerdo){
                  {{this.lugarAcuerdo}} }@else {
                  <strong style="color: red">Pendiente lugar acuerdo</strong>}, a los días, @if(this.fechaAcuerdo){
                {{formatDate(this.fechaAcuerdo)}} }@else {
                <strong style="color: red">Pendiente fecha acuerdo</strong>}.
              </p>
              <div
                class="row mt-5 diplay-flex justify-content-center align-content-center">
                <div class="col-4 text-center m-5">
                  <div class="border-top pt-2">
                    <p class="text-center">Firma</p>
                  </div>
                </div>
                @if(hasAval){
                <div class="col-4 text-center m-5">
                  <div class="border-top pt-2">
                    <p class="text-center">Firma (Aval)</p>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .bold-label {
      font-weight: bold;
      font-size: 20px !important;
    }

    @media print {
      @page {
        size: letter;
        margin: 0;
      }
      body {
        margin: 0;
      }
    }

    .carta h1 {
      font-size: 18pt;
      margin-bottom: 20px;
    }

    .carta h2 {
      font-size: 14pt;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .carta p {
      margin-bottom: 10px;
    }

    .firma {
      margin-top: 50px;
    }
  </style>
</ion-content>
