<ion-card>
  <ion-card-content>
    @for (column of columnsData; track column.key) { @if (column.key !==
    'actions') {
    <ion-item lines="none">
      <ion-label>{{ column.alias }}</ion-label>
      @switch (column.type) { @case ('boolean') {
      <ion-badge
        slot="end"
        [color]="getCellValue(element, column) ? 'success' : 'medium'">
        {{ getCellValue(element, column) ? "Activo" : "Inactivo" }}
      </ion-badge>
      } @case ('object') {
      <ion-note slot="end"
        >{{ getCellValue(element, column) }}</ion-note
      >
      } @case ('date') {
      <ion-note slot="end"
        >{{ getCellValue(element, column) | customDate : 6 :
        "dd/MM/yyyy" }}</ion-note
      >
      } @case ('dni') {
      <ion-note slot="end"
        >{{ getCellValue(element, column) | formatDni}}</ion-note
      >
      }@default {
      <ion-note slot="end"
        >{{ getCellValue(element, column) }}</ion-note
      >
      }}
    </ion-item>
    } }
  </ion-card-content>
</ion-card>