USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_cuerpoRecordCrediticio]    Script Date: 17/09/2024 20:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ricardo Rivas>
-- Create date: <2024-09-07>
-- Description:	<Cuerpo del Reporte de Record Crediticio>
-- =============================================
ALTER PROCEDURE [dbo].[SP_cuerpoRecordCrediticio] 
	-- Add the parameters for the stored procedure here
	@IDCLIENTE int
AS
BEGIN
	--Variable para obtener la fecha actual
	DECLARE  @FECHA_ACTUAL DATE;
	SET @FECHA_ACTUAL = GETDATE();

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.Id  AS idPrestamo, FP.FechaPago AS fechaVencimiento, PAG.FechaPago AS fechaCancelacion,
	CASE 
    WHEN DATEDIFF(DAY, fp.FechaPago, pag.FechaPago) > 0 
    THEN DATEDIFF(DAY, fp.FechaPago, pag.FechaPago) 
    ELSE 0 
	END AS dias,
	CAST((PAG.Monto - (p.Monto * (p.TasaInteres / 100) / pp.CuotasPagar) - ISNULL((SELECT M.Mora FROM Moras M WHERE M.IdFechaPago = fp.Id), 0)) AS DECIMAL(18, 2)) AS capital,
	CAST((p.Monto * (p.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) AS intereses,  
    ISNULL((SELECT M.Mora FROM Moras M WHERE M.IdFechaPago = fp.Id), 0) AS mora,  
    pag.Monto as cuota, 
    CAST((p.Monto - SUM(pag.Monto) OVER (ORDER BY pag.FechaPago ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) AS DECIMAL(18, 2)) AS saldoCapital
	FROM Prestamos p JOIN PlanesPago pp
	ON
	p.IdPlan = pp.Id JOIN FechasPagos fp
	ON
	pp.Id = fp.PlanId JOIN Pagos pag
	ON
	fp.Id = pag.IdFechaPago
	WHERE IdCliente = @IDCLIENTE AND p.IdEstadoInterno = 2 AND p.Estado = 1
	ORDER BY p.Id, fp.FechaPago
END
