USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_encabezadosRecordCrediticio]    Script Date: 14/09/2024 9:04:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ricardo Rivas>
-- Create date: <2024-09-07>
-- Description:	<Encabezados del Reporte de Record Crediticio>
-- =============================================
ALTER PROCEDURE [dbo].[SP_encabezadosRecordCrediticio]
	-- Add the parameters for the stored procedure here
	@IDCLIENTE int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT pre.Id AS idPrestamo, P.Nombres +' '+ P.Apellidos AS cliente, P.Direccion AS direccion, P.Cel AS telefono, u.Nombre +' '+ u.Apellido AS asesor,
	pro.Descripcion AS producto, ea.Descripcion AS etapa, 
	(SELECT COUNT(*) FROM Prestamos WHERE IdCliente = @IDCLIENTE AND IdEstadoAprobacion = 2) AS numeroTotalPtmos,
	pre.FechaSolicitud as fechaProceso, rc.Descripcion as recordCrediticio,
	(SELECT SUM(Monto) FROM Prestamos WHERE IdCliente = @IDCLIENTE AND IdEstadoAprobacion = 2 AND Estado = 1) AS cantidadDesembolso
	FROM Personas P JOIN UsuarioCliente uc
	ON
	p.Id = uc.ClienteId JOIN Usuarios u
	ON
	uc.UsuarioId = u.id JOIN Prestamos pre
	ON
	p.Id = pre.IdCliente JOIN Productos pro
	ON
	pre.IdProducto = pro.Id JOIN EstadosAprobacion ea
	ON
	pre.IdEstadoAprobacion = ea.Id JOIN RecordCrediticio rc
	ON
	p.IdRecordCrediticio = rc.Id
	WHERE P.Id = @IDCLIENTE AND pre.IdEstadoAprobacion = 2 AND pre.Estado = 1
END
