USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_pieRecordCrediticio]    Script Date: 13/09/2024 23:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ricardo Rivas>
-- Create date: <12/09/2024>
-- Description:	<Pie de pagina o ultima tabla del reporte de Record Crediticio>
-- =============================================
ALTER PROCEDURE [dbo].[SP_pieRecordCrediticio] 
	-- Add the parameters for the stored procedure here
	@IDCLIENTE INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT DISTINCT pre.Id AS idPrestamo, pre.FechaAprobacion AS fecha,
	CONCAT(PP.CuotasPagar, ' ', 
		CASE
			WHEN pc.Id = 1 THEN 'Semanas'
			WHEN pc.Id = 2 THEN 'Quincenas'
			WHEN pc.Id = 3 THEN 'Meses'
			ELSE 'Periodo desconocido'
		END
		) AS plazo,
	PRE.Monto AS monto,
	us.Nombre +' '+ us.Apellido AS asesor, 
	pre.TasaInteres AS tasa, 
	pro.Descripcion AS tipo
	FROM PRESTAMOS pre JOIN PlanesPago pp
	ON
	pre.IdPlan = pp.Id JOIN FechasPagos fp
	ON
	fp.PlanId = pp.Id JOIN PeriodosCobro pc
	ON
	pre.IdPeriodoCobro = pc.Id JOIN Personas per
	ON
	pre.IdCliente = per.Id JOIN UsuarioCliente uc
	ON
	per.Id = uc.ClienteId JOIN Usuarios us 
	ON
	uc.UsuarioId = us.id JOIN Productos pro
	ON
	pre.IdProducto = pro.Id
	WHERE IdCliente = @IDCLIENTE AND pre.IdEstadoAprobacion = 2
END
