USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_RSaldos_PagarAtrasados]    Script Date: 09/10/2024 16:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ricardo Rivas>
-- Create date: <01/09/2024>
-- Description:	<SP para obtener los datos de la tabla de saldo pendiente a pagar-atrasados>
-- =============================================
ALTER PROCEDURE [dbo].[SP_RSaldos_PagarAtrasados]
	-- Add the parameters for the stored procedure here
	@ID_CLIENTE INT
AS
BEGIN
	DECLARE @FechaActual DATE;
	SET @FechaActual = GETDATE();
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.Id AS idPrestamo, FP.FechaPago AS fechaVto,
	CASE 
    WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
    THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
    ELSE 0 
	END AS dias,
	fp.Monto as cuota, 
	
	--Nuevos calculo de Capital e interes corriente

	CASE
		WHEN ISNULL((SELECT SUM(Monto) FROM PAGOS WHERE IdFechaPago = FP.Id AND Estado = 1), 0) > CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))
			THEN 
				CAST(FP.Monto - (p.Monto * (p.TasaInteres / 100) / PP.CuotasPagar)AS DECIMAL(18, 2)) -
				((SELECT SUM(Monto) FROM PAGOS WHERE IdFechaPago = FP.Id AND Estado = 1) - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2)))

		ELSE CAST(FP.Monto - (p.Monto * (p.TasaInteres / 100) / PP.CuotasPagar)AS DECIMAL(18, 2))
	END AS capital,


	CASE 
		WHEN CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) > (SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = fp.Id)
			THEN CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) - (SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = fp.Id)

		WHEN CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) <= (SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = fp.Id)
			THEN 0
			
		ELSE CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) 
	END AS intCorriente, 

	--CASE 
	--	WHEN CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) > (SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = fp.Id)
	--			THEN CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) - (SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = fp.Id)
	--		ELSE CAST((P.Monto * (P.TasaInteres / 100) / pp.CuotasPagar) AS DECIMAL(18, 2)) 
	--END AS intCorriente,  

	(fp.Monto * 0.001) * 
	CASE 
		WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
		THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
		ELSE 0 
	END AS intMora,

	fp.Monto + (fp.Monto * 0.001) * 
	CASE 
		WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
		THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
		ELSE 0 
	END AS totalSVigentes

	FROM FechasPagos FP JOIN PlanesPago PP
	ON
	FP.PlanId = PP.Id JOIN Prestamos P
	ON 
	PP.Id = P.IdPlan 
	WHERE @ID_CLIENTE = P.IdCliente AND FP.Estado = 0 AND P.Estado = 1 AND P.IdEstadoInterno = 2 AND fp.FechaPago < @FechaActual
	ORDER BY p.Id, FP.FechaPago
END
