USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteCarteraAsesor]    Script Date: 04/11/2024 20:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ricardo Rivas>
-- Create date: <11/09/2024>
-- Description:	<Reporte de cartera-asesor>
-- =============================================
ALTER PROCEDURE [dbo].[SP_ReporteCarteraAsesor]
	-- Add the parameters for the stored procedure here
	@ID_USUARIO INT
AS
BEGIN
	DECLARE @FECHA_ACTUAL DATE;
	SET @FECHA_ACTUAL = GETDATE();
	SET LANGUAGE Spanish;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	WITH SALDOCALCULADO AS (
	SELECT DISTINCT 
	p.Id as idP,
	(FP.Monto -  CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))) * 
		 (SELECT COUNT(*) FROM FechasPagos WHERE PlanId = PP.Id AND Estado = 0) -
		 CASE 
			WHEN ISNULL((SELECT SUM(Monto) FROM PAGOS WHERE IdFechaPago = FP.Id AND Estado = 1), 0) > CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))
				AND FP.Estado = 0
				THEN ((SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = FP.Id AND FP.Estado = 0) - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2)) )
			ELSE 0
		END AS saldoPtmo,
		p.IdCliente AS idCliente

	FROM Prestamos P 
		JOIN Personas per ON p.IdCliente = per.Id 
		JOIN UsuarioCliente UC ON P.IdCliente = UC.ClienteId 
		JOIN Usuarios U ON UC.UsuarioId = U.id 
		JOIN Productos pro ON p.IdProducto = pro.Id 
		JOIN PlanesPago PP ON p.IdPlan = PP.Id 
		JOIN FechasPagos FP ON PP.Id = FP.PlanId 
		JOIN PeriodosCobro PC ON p.IdPeriodoCobro = PC.Id 


		WHERE P.Estado = 1 
		AND P.IdEstadoInterno = 2
		AND FP.Estado = 0
	),

	Saldos AS (
	  SELECT idP, saldoPtmo, idCliente
	  FROM SALDOCALCULADO
	),

	CTE_IntCorriente AS (
    SELECT 
        CASE 
            WHEN CAST((P.Monto * (P.TasaInteres / 100) / PP.CuotasPagar) AS DECIMAL(18, 2)) > 
                 (SELECT ISNULL(SUM(Monto), 0) FROM Pagos WHERE IdFechaPago = FP.Id)
                THEN CAST((P.Monto * (P.TasaInteres / 100) / PP.CuotasPagar) AS DECIMAL(18, 2)) - 
                     (SELECT ISNULL(SUM(Monto), 0) FROM Pagos WHERE IdFechaPago = FP.Id)
            WHEN CAST((P.Monto * (P.TasaInteres / 100) / PP.CuotasPagar) AS DECIMAL(18, 2)) <= 
                 (SELECT ISNULL(SUM(Monto), 0) FROM Pagos WHERE IdFechaPago = FP.Id)
                THEN 0
            ELSE CAST((P.Monto * (P.TasaInteres / 100) / PP.CuotasPagar) AS DECIMAL(18, 2))
        END AS intCorriente,
		P.IdCliente AS idCliente,
		P.Id AS idPrestamo
    FROM FechasPagos FP 
    JOIN PlanesPago PP ON FP.PlanId = PP.Id 
    JOIN Prestamos P ON PP.Id = P.IdPlan 
    WHERE FP.Estado = 0 
      AND P.Estado = 1 
      AND P.IdEstadoInterno = 2 
)

	SELECT DISTINCT 
		P.Id AS IdPersona, 
		pre.Id AS prestamoId, 
		p.Nombres + ' ' + p.Apellidos AS nombreCliente, 
		P.Cel AS celular, 
		DATENAME(WEEKDAY, (SELECT TOP 1 FechaPago FROM FechasPagos WHERE Estado = 0 AND PlanId = PP.Id)) AS diaPago,
		pre.Monto AS montoOtorgado,

		--calculos de las columnas a corregir

		--Calculo del capital o Saldo Capital prestamo

		ISNULL((SELECT 
		  CASE 
			-- Si todos los idP son iguales, selecciona el saldo del primer registro
			WHEN COUNT(DISTINCT idP) = 1 THEN MIN(saldoPtmo)
		  END AS saldoResultado
		FROM Saldos
		WHERE idCliente = PRE.IdCliente AND idP = pre.Id), 0) AS saldoCapitalActual,

		(SELECT SUM(intCorriente) AS intCorriente
		FROM CTE_IntCorriente
		WHERE  idCliente = PRE.IdCliente AND idPrestamo = PRE.Id) as IntCorriente,

		--Saldo Actual
		ISNULL((SELECT 
		  CASE 
			-- Si todos los idP son iguales, selecciona el saldo del primer registro
			WHEN COUNT(DISTINCT idP) = 1 THEN MIN(saldoPtmo)
		  END AS saldoResultado
		FROM Saldos
		WHERE idCliente = PRE.IdCliente AND idP = pre.Id)
		+
		(SELECT SUM(intCorriente) AS intCorriente
		FROM CTE_IntCorriente
		WHERE  idCliente = PRE.IdCliente AND idPrestamo = PRE.Id), 0)
		AS saldoActual,
		
		
		--FIN calculos de las columnas a corregir

		fp.Monto AS valorCuota,
		CONCAT(PP.CuotasPagar, ' ', 
			CASE
				WHEN pc.Id = 1 THEN 'Semanas'
				WHEN pc.Id = 2 THEN 'Quincenas'
				WHEN pc.Id = 3 THEN 'Meses'
				ELSE 'Periodo desconocido'
			END
		) AS plazo,
		pre.TasaInteres AS tasa,
		(SELECT COUNT(*) FROM Pagos pag2 JOIN FechasPagos fp2 ON pag2.IdFechaPago = fp2.Id WHERE fp.PlanId = fp2.PlanId) AS cuotasPagadas,
		pre.TotalMonto AS valorTotal,
		ISNULL((SELECT SUM(Monto) FROM FechasPagos WHERE PlanId = PP.Id AND FechaPago < @FECHA_ACTUAL  AND Estado = 0), 0) AS valorCuotasAtrasadas, 
		ISNULL((SELECT SUM(DATEDIFF(DAY, FechaPago, @FECHA_ACTUAL)) FROM FechasPagos WHERE PlanId = PP.Id AND FechaPago < @FECHA_ACTUAL AND Estado = 0), 0) AS diasEnMora,
		
		--Calculo total con Mora correccion
		CAST((ISNULL((SELECT TOP 1 Monto FROM FechasPagos WHERE PlanId = fp.PlanId AND FechaPago < @FECHA_ACTUAL AND Estado = 0), 0) * 0.001) * 
		ISNULL((SELECT SUM(DATEDIFF(DAY, FechaPago, @FECHA_ACTUAL)) FROM FechasPagos WHERE PlanId = PP.Id AND FechaPago < @FECHA_ACTUAL AND Estado = 0), 0) AS DECIMAL(18, 2)) --Calculo de Mora
		+
		(SELECT 
		  CASE 
			-- Si todos los idP son iguales, selecciona el saldo del primer registro
			WHEN COUNT(DISTINCT idP) = 1 THEN MIN(saldoPtmo)
		  END AS saldoResultado
		FROM Saldos
		WHERE idCliente = PRE.IdCliente AND idP = pre.Id) --Calculo de Capital
		+
		(SELECT SUM(intCorriente) AS intCorriente
		FROM CTE_IntCorriente
		WHERE  idCliente = PRE.IdCliente AND idPrestamo = PRE.Id)  --Calculo de interes
		AS totalMora,
				
		(SELECT TOP 1 FechaPago FROM FechasPagos WHERE PlanId = pp.Id ORDER BY FechaPago DESC) AS fechaVencimiento,

		CAST((ISNULL((SELECT TOP 1 Monto FROM FechasPagos WHERE PlanId = fp.PlanId AND FechaPago < @FECHA_ACTUAL AND Estado = 0), 0) * 0.001) * 
		ISNULL((SELECT SUM(DATEDIFF(DAY, FechaPago, @FECHA_ACTUAL)) FROM FechasPagos WHERE PlanId = PP.Id AND FechaPago < @FECHA_ACTUAL AND Estado = 0), 0) AS DECIMAL(18, 2))
		AS mora

	FROM 
		Personas p 
	JOIN UsuarioCliente uc ON p.Id = uc.ClienteId 
	JOIN Usuarios u ON uc.UsuarioId = u.id 
	JOIN Prestamos pre ON p.Id = pre.IdCliente 
	JOIN PlanesPago pp ON pre.IdPlan = pp.Id 
	JOIN FechasPagos fp ON fp.PlanId = pp.Id 
	LEFT JOIN Pagos pag ON pag.IdFechaPago = fp.Id 
	JOIN PeriodosCobro pc ON pre.IdPeriodoCobro = pc.Id
	WHERE 
		u.id = @ID_USUARIO 
		AND pre.Estado = 1 
		AND pre.IdEstadoInterno = 2
	GROUP BY 
		P.Id, pre.Id, p.Nombres, p.Apellidos, P.Cel, pre.Monto, pre.TotalMonto, fp.Monto, PP.CuotasPagar, pc.Id, pre.TasaInteres, pp.Id, fp.PlanId, pre.IdCliente

END
