USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_RTextosSaldosTotales]    Script Date: 15/09/2024 12:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_RTextosSaldosTotales]
	-- Add the parameters for the stored procedure here
	@ID_CLIENTE INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT P.Id AS nroPrestamo, CONCAT(per.Id, ' ' + PER.Nombres +' '+PER.Apellidos) AS codClientes, p.Estado AS estadoPtmo,
		p.Monto AS mtoPrestamo,
		(p.Monto - ISNULL((SELECT SUM(PAG.Monto) FROM Pagos PAG JOIN FechasPagos FP ON PAG.IdFechaPago = FP.Id JOIN PlanesPago PP ON FP.PlanId = PP.Id WHERE PP.Id = P.Id), 0)) AS saldoPtmo,
		U.id AS asesor, u.Nombre +' '+u.Apellido AS nombreAsesor, '3%' AS tMora, p.FechaAprobacion as fDesembolos, pro.Descripcion AS producto, fp.Monto AS cuota, PP.CuotasPagar AS plazo,
		(CASE
			WHEN pc.Id = 1 THEN 'Semanal'
			WHEN pc.Id = 2 THEN 'Quincenal'
			WHEN pc.Id = 3 THEN 'Mensual'
			ELSE 'Periodo desconocido'
		END) as Periodo,
		per.Direccion AS direccion, per.Cel AS telefono,
		(SELECT ISNULL(SUM(M.Mora), 0) FROM Moras M WHERE M.IdPrestamo = @ID_CLIENTE) AS mora,
		(p.Monto - (SELECT ISNULL(SUM(PAG.Monto), 0) FROM Pagos PAG JOIN FechasPagos FP ON PAG.IdFechaPago = FP.Id JOIN PlanesPago PP ON FP.PlanId = PP.Id WHERE PP.Id = P.Id)) + 
		(SELECT ISNULL(SUM(M.Mora), 0) FROM Moras M WHERE M.IdPrestamo = P.Id) AS totalSTotales
		FROM Prestamos P JOIN Personas per
		ON
		p.IdCliente = per.Id JOIN UsuarioCliente UC
		ON
		P.IdCliente = UC.ClienteId JOIN Usuarios U
		ON
		UC.UsuarioId = U.id JOIN Productos pro
		ON
		p.IdProducto = pro.Id JOIN PlanesPago pp
		ON
		p.IdPlan = pp.Id JOIN FechasPagos fp
		ON
		pp.Id = fp.PlanId JOIN PeriodosCobro pc
		ON
		p.IdPeriodoCobro = pc.Id 
		WHERE p.IdCliente = @ID_CLIENTE
END
