USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_RSaldosVigentes]    Script Date: 17/09/2024 17:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_RSaldosVigentes]
	-- Add the parameters for the stored procedure here
	@ID_CLIENTE INT
AS
BEGIN
	DECLARE @FechaActual DATE;
	SET @FechaActual = GETDATE();
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.Id AS idPrestamo, FP.FechaPago AS fechaVto,
	CAST(FP.Monto - (p.Monto * (p.TasaInteres / 100) / PP.CuotasPagar)AS DECIMAL(18, 2)) AS capital,
	CAST((p.Monto * (p.TasaInteres / 100) / PP.CuotasPagar)AS DECIMAL(18, 2))AS intCorriente,
	CASE 
    WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
    THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
    ELSE 0 
	END AS dias,

	(fp.Monto * 0.001) * 
	CASE 
		WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
		THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
		ELSE 0 
	END AS intMora,

	fp.Monto + (fp.Monto * 0.001) * 
	CASE 
		WHEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) > 0 
		THEN DATEDIFF(DAY, fp.FechaPago, @FechaActual) 
		ELSE 0 
	END AS totalSVigentes

	FROM FechasPagos FP JOIN PlanesPago PP
	ON
	FP.PlanId = PP.Id JOIN Prestamos P
	ON 
	PP.Id = P.IdPlan 
	WHERE @ID_CLIENTE = P.IdCliente AND FP.Estado = 0 AND P.Estado = 1 AND P.IdEstadoInterno = 2
	ORDER BY p.Id, FP.FechaPago
END
