USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteMora]    Script Date: 13/11/2024 21:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<RICARDO RIVAS>
-- Create date: <05/09/2024>
-- Description:	<Consulta para obtener el registro de las Moras actuales>
-- =============================================
ALTER PROCEDURE [dbo].[SP_ReporteMora]
    @idUsuario int
AS
BEGIN
    DECLARE @FechaActual DATE = GETDATE();
    DECLARE @ROLID INT;

    -- Obtener el Rolid del usuario
    SET @ROLID = (SELECT Rolid FROM Usuarios WHERE Id = @idUsuario);

    -- Verificar el valor de @ROLID
    IF @ROLID IN (1, 2)
    BEGIN
	-- Definir el CTE para calcular el saldo
    WITH SALDOCALCULADO AS (
        SELECT DISTINCT 
            p.Id AS idP,
            (FP.Monto - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))) * 
                (SELECT COUNT(*) FROM FechasPagos WHERE PlanId = PP.Id AND Estado = 0) -
                CASE 
                    WHEN ISNULL((SELECT SUM(Monto) FROM PAGOS WHERE IdFechaPago = FP.Id AND Estado = 1), 0) > CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))
                    AND FP.Estado = 0
                    THEN ((SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = FP.Id AND FP.Estado = 0) - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2)))
                    ELSE 0
                END AS saldoPtmo,
            p.IdCliente AS idCliente
        FROM Prestamos P 
            JOIN Personas per ON p.IdCliente = per.Id 
            JOIN UsuarioCliente UC ON P.IdCliente = UC.ClienteId 
            JOIN Usuarios U ON UC.UsuarioId = U.id 
            JOIN Productos pro ON p.IdProducto = pro.Id 
            JOIN PlanesPago PP ON p.IdPlan = PP.Id 
            JOIN FechasPagos FP ON PP.Id = FP.PlanId 
            JOIN PeriodosCobro PC ON p.IdPeriodoCobro = PC.Id 
        WHERE P.Estado = 1 
        AND P.IdEstadoInterno = 2
        AND FP.Estado = 0
    ),
    Saldos AS (
        SELECT idP, saldoPtmo, idCliente
        FROM SALDOCALCULADO
    )

        -- Si el Rolid es 1 o 2, traer todos los datos
        SELECT 
            fp.Id AS idCuota,
            per.Id AS codCliente, 
            per.Nombres + ' ' + per.Apellidos AS nombre, 
            p.Id AS codPrestamo, 
            p.Monto AS montoPrestamo,
            DATEDIFF(DAY, fp.FechaPago, @FechaActual) AS diasMora,

			ISNULL((SELECT 
			  CASE 
				-- Si todos los idP son iguales, selecciona el saldo del primer registro
				WHEN COUNT(DISTINCT idP) = 1 THEN MIN(saldoPtmo)
			  END AS saldoResultado
			FROM Saldos
			WHERE idCliente = p.IdCliente AND idP = p.Id), 0) AS saldPtmo,

            ((fp.Monto * 0.001) * DATEDIFF(DAY, fp.FechaPago, @FechaActual)) AS montoMora,
            fp.Monto AS cuota,
            fp.Monto + ((fp.Monto * 0.001) * DATEDIFF(DAY, fp.FechaPago, @FechaActual)) AS total
        FROM 
            FechasPagos fp
            JOIN PlanesPago pp ON fp.PlanId = pp.Id
            JOIN Prestamos p ON pp.Id = p.IdPlan
            JOIN Personas per ON p.IdCliente = per.Id 
            JOIN UsuarioCliente uc ON per.Id = uc.ClienteId 
            JOIN Usuarios u ON uc.UsuarioId = u.Id
            LEFT JOIN Saldos s ON p.Id = s.idP  -- Unir el CTE
        WHERE 
            fp.FechaPago < @FechaActual 
            AND fp.Estado = 0
            AND p.Estado = 1
		GROUP BY fp.Id, per.Id, per.Nombres, per.Apellidos, p.Id, p.Monto, fp.FechaPago, p.IdCliente, fp.Monto
    END
    ELSE
    BEGIN
		-- Definir el CTE para calcular el saldo
		WITH SALDOCALCULADO AS (
			SELECT DISTINCT 
				p.Id AS idP,
				(FP.Monto - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))) * 
					(SELECT COUNT(*) FROM FechasPagos WHERE PlanId = PP.Id AND Estado = 0) -
					CASE 
						WHEN ISNULL((SELECT SUM(Monto) FROM PAGOS WHERE IdFechaPago = FP.Id AND Estado = 1), 0) > CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2))
						AND FP.Estado = 0
						THEN ((SELECT SUM(Monto) FROM Pagos WHERE IdFechaPago = FP.Id AND FP.Estado = 0) - CAST(((P.Monto * (p.TasaInteres / 100)) / pp.CuotasPagar) AS DECIMAL(18, 2)))
						ELSE 0
					END AS saldoPtmo,
				p.IdCliente AS idCliente
			FROM Prestamos P 
				JOIN Personas per ON p.IdCliente = per.Id 
				JOIN UsuarioCliente UC ON P.IdCliente = UC.ClienteId 
				JOIN Usuarios U ON UC.UsuarioId = U.id 
				JOIN Productos pro ON p.IdProducto = pro.Id 
				JOIN PlanesPago PP ON p.IdPlan = PP.Id 
				JOIN FechasPagos FP ON PP.Id = FP.PlanId 
				JOIN PeriodosCobro PC ON p.IdPeriodoCobro = PC.Id 
			WHERE P.Estado = 1 
			AND P.IdEstadoInterno = 2
			AND FP.Estado = 0
		),
		Saldos AS (
			SELECT idP, saldoPtmo, idCliente
			FROM SALDOCALCULADO
		)

        -- Si el Rolid no es 1 o 2, filtrar por el idUsuario
        SELECT 
            fp.Id AS idCuota,
            per.Id AS codCliente, 
            per.Nombres + ' ' + per.Apellidos AS nombre, 
            p.Id AS codPrestamo, 
            p.Monto AS montoPrestamo,

			ISNULL((SELECT 
			  CASE 
				-- Si todos los idP son iguales, selecciona el saldo del primer registro
				WHEN COUNT(DISTINCT idP) = 1 THEN MIN(saldoPtmo)
			  END AS saldoResultado
			FROM Saldos
			WHERE idCliente = p.IdCliente AND idP = p.Id), 0) AS saldPtmo,

            DATEDIFF(DAY, fp.FechaPago, @FechaActual) AS diasMora,
            ((fp.Monto * 0.001) * DATEDIFF(DAY, fp.FechaPago, @FechaActual )) AS montoMora,
            fp.Monto AS cuota,
            fp.Monto + ((fp.Monto * 0.001) * DATEDIFF(DAY, fp.FechaPago, @FechaActual)) AS total
        FROM 
            FechasPagos fp
            JOIN PlanesPago pp ON fp.PlanId = pp.Id
            JOIN Prestamos p ON pp.Id = p.IdPlan
            JOIN Personas per ON p.IdCliente = per.Id 
            JOIN UsuarioCliente uc ON per.Id = uc.ClienteId 
            JOIN Usuarios u ON uc.UsuarioId = u.Id
            LEFT JOIN Saldos s ON p.Id = s.idP  -- Unir el CTE
        WHERE 
            fp.FechaPago < @FechaActual 
            AND fp.Estado = 0
            AND u.Id = @idUsuario
            AND p.Estado = 1
		GROUP BY fp.Id, per.Id, per.Nombres, per.Apellidos, p.Id, p.Monto, fp.FechaPago, p.IdCliente, fp.Monto
    END
END