<ion-content [fullscreen]="false">
  <app-loader [textLoader]="textLoader"></app-loader>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{toastMessage}}"
    [duration]="5000"
    (didDismiss)="setOpenedToast(false)"></ion-toast>

  <app-breadcrumb></app-breadcrumb>
  <section class="container">
    <app-view-data
      [currentPage]="1"
      [totalPages]="10"
      [title]="'Clientes'"
      [context]="'cliente'"
      [data]="elements"
      [columnsData]="columnsData"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (addButtonClicked)="onAddButtonClicked()"
      (editButtonClicked)="onEditButtonClicked($event)"
      (deleteButtonClicked)="onDeleteButtonClicked($event)"
      (infoButtonClicked)="onInfoButtonClicked($event)"
      (currentPageOut)="onPageChange($event)"
      (searchOut)="onSearchData($event)">
    </app-view-data>

    <app-reusable-modal
      [(isOpen)]="isModalOpen"
      [content]="modalSelected"
      [formSave]="formSelected"
      (saveData)="handleSave($event)">
    </app-reusable-modal>

    <ng-template #modalAdd let-close="close" let-save="save" let-form="form">
      <ion-header>
        <ion-toolbar>
          <ion-title>Formulario de Clientes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="form" (ngSubmit)="save(form.value)">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >DNI:</ion-label
                  >
                  <ion-input formControlName="dni"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Nombres:</ion-label
                  >
                  <ion-input formControlName="nombres"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Apellidos:</ion-label
                  >
                  <ion-input formControlName="apellidos"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Celular:</ion-label
                  >
                  <ion-input type="tel" formControlName="cel"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Dirección:</ion-label
                  >
                  <ion-input formControlName="direccion"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Email:</ion-label
                  >
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Fecha de Ingreso:</ion-label
                  >
                  <ion-input
                    type="date"
                    formControlName="fechaIngreso"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item>
                  <ion-label position="stacked" class="bold-label"
                    >Fecha de Baja:</ion-label
                  >
                  <ion-input
                    type="date"
                    formControlName="fechaBaja"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Estado</ion-label
                  >
                  <ion-toggle
                    formControlName="estado"
                    class="my-2"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
                <ion-button expand="block" type="submit" class="ion-margin-top">
                  Guardar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>

    <style>
      .bold-label {
        font-weight: bold;
        font-size: 20px !important;
      }
    </style>

    <ng-template #modalViewInfo let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Vista de Cliente</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-content>
            @for (column of columnsData; track column.key) { @if (column.key !==
            'actions') {
            <ion-item lines="none">
              <ion-label>{{ column.alias }}</ion-label>
              @switch (column.type) { @case ('boolean') {
              <ion-badge
                slot="end"
                [color]="getCellValue(element, column) ? 'success' : 'medium'">
                {{ getCellValue(element, column) ? "Activo" : "Inactivo" }}
              </ion-badge>
              } @case ('object') {
              <ion-note slot="end"
                >{{ getCellValue(element, column) }}</ion-note
              >
              } @case ('date') {
              <ion-note slot="end"
                >{{ getCellValue(element, column) | customDate : 6 :
                "dd/MM/yyyy" }}</ion-note
              >
              } @case ('dni') {
              <ion-note slot="end"
                >{{ getCellValue(element, column) | formatDni}}</ion-note
              >
              }@default {
              <ion-note slot="end"
                >{{ getCellValue(element, column) }}</ion-note
              >
              }}
            </ion-item>
            } }
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </section>
</ion-content>
