USE [Cobros]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarFechasPagos]    Script Date: 29/08/2024 22:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarFechasPagos]
AS
BEGIN
    -- Lógica para insertar o actualizar en la tabla Moras
    DECLARE @FechaActual DATE;
    SET @FechaActual = GETDATE();

    -- Insertar en la tabla Moras
    INSERT INTO Moras (IdCliente, idPrestamo, IdPlan, IdFechaPago, DiasRetraso, Mora, Estado)
    SELECT 
        p.IdCliente, 
        p.Id AS idPrestamo, 
        p.IdPlan, 
        fp.Id, 
        DATEDIFF(DAY, fp.FechaPago, GETDATE()) AS DiasRetraso,
        ((fp.Monto * 0.01) * DATEDIFF(DAY, fp.FechaPago, GETDATE())) AS Mora,
        1 AS Estado
    FROM 
        FechasPagos fp
    JOIN 
        PlanesPago pp ON fp.PlanId = pp.Id
    JOIN 
        Prestamos p ON pp.Id = p.IdPlan
    WHERE 
        fp.FechaPago < @FechaActual 
        AND fp.Estado = 0
        AND NOT EXISTS (
            SELECT 1 
            FROM Moras m 
            WHERE m.idPrestamo = p.Id 
              AND m.Estado = 1
        );

    -- Actualizar los registros existentes en la tabla Moras
    UPDATE m
    SET 
        m.IdFechaPago = fp.Id,
        m.DiasRetraso = DATEDIFF(DAY, fp.FechaPago, GETDATE()),
        m.Mora = ((fp.Monto * 0.01) * DATEDIFF(DAY, fp.FechaPago, GETDATE()))
    FROM 
		Moras m
	JOIN 
		FechasPagos fp ON m.IdFechaPago = fp.Id
	JOIN 
		Prestamos p ON m.idPrestamo = p.Id
	WHERE 
		fp.FechaPago < GETDATE() 
		AND fp.Estado = 0 
		AND m.Estado = 1;
    
    -- Consultar la tabla FechasPagos y devolver los resultados
    SELECT m.Id, m.IdCliente, m.IdPrestamo, m.IdPlan, m.IdFechaPago, m.DiasRetraso, m.Mora, m.Estado
    FROM Moras m JOIN FechasPagos fp
	ON
	m.IdFechaPago = fp.Id
	WHERE 
		fp.FechaPago < GETDATE() 
		AND fp.Estado = 0 
		AND m.Estado = 1;
END;
