USE [Cobros]
GO
/****** Object:  Trigger [dbo].[trg_AfterInsertOnPagos]    Script Date: 29/08/2024 22:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AfterInsertOnPagos]
ON [dbo].[Pagos]
AFTER INSERT
AS
BEGIN
    DECLARE @idPrestamo INT;
    DECLARE @MontoPagado DECIMAL(10,2);
    DECLARE @Adeudo DECIMAL(10,2);
    DECLARE @Cuota DECIMAL(10,2);
	DECLARE @IdMora INT;

    -- Obtención del ID del préstamo del pago recién insertado
   SELECT TOP 1 @idPrestamo = prest.Id
    FROM inserted i
    JOIN FechasPagos fp ON i.IdFechaPago = fp.Id
    JOIN PlanesPago pp ON fp.PlanId = pp.Id
    JOIN Prestamos prest ON pp.Id = prest.IdPlan
    ORDER BY i.Id DESC;

    -- Obtención del Monto Pagado
    SET @MontoPagado = (SELECT Monto FROM inserted);

    -- Obtención del Adeudo si lo hay
    SET @Adeudo = ISNULL((
        SELECT TOP 1 Mora
        FROM Moras
        WHERE IdPrestamo = @idPrestamo AND Estado = 1
        ORDER BY DiasRetraso DESC
    ), 0);

	--Obtencion del Id del Adeudo si lo hay
	SET @IdMora = ISNULL((
		SELECT TOP 1 Id
        FROM Moras
        WHERE IdPrestamo = @idPrestamo AND Estado = 1
        ORDER BY DiasRetraso DESC
	), 0)

    -- Obtención de la cuota
    SET @Cuota = (
        SELECT TOP 1 fp.Monto
        FROM FechasPagos fp 
        JOIN PlanesPago pp ON fp.PlanId = pp.Id
        JOIN Prestamos p ON p.IdPlan = pp.Id
        WHERE fp.Estado = 0 AND p.Id = @idPrestamo
        ORDER BY fp.FechaPago ASC
    );

    -- Evaluar condiciones para actualizar la tabla Moras
    IF @Adeudo > 0 -- Si existe un adeudo
    BEGIN
        IF @MontoPagado = @Cuota + @Adeudo 
        BEGIN
            -- Si MontoPagado es igual a la cuota más mora, marcar el registro de mora como pagado
            UPDATE Moras
            SET Estado = 0
            WHERE IdPrestamo = @idPrestamo AND Estado = 1 AND Id = @IdMora;
        END
        ELSE IF @MontoPagado < @Cuota + @Adeudo AND @MontoPagado > @Cuota
        BEGIN
            -- Si MontoPagado es menor que la cuota más mora y mayor que la cuota, recalcular la mora
            UPDATE Moras
            SET Mora = (@Adeudo + @Cuota) - @MontoPagado
            WHERE IdPrestamo = @idPrestamo AND Estado = 1 AND Id = @IdMora;
        END
    END
END;
