<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>

    <div class="row d-flex justify-content-md-end">
      <div style="width: 150px">
        <ion-button color="primary">
          Agregar Title <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <ion-searchbar
        placeholder="Buscar..."
        [(ngModel)]="searchTerm"
        (ionChange)="onSearchChange($event)"></ion-searchbar>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
            <th>Header 5</th>
            <th>Header 6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1, Cell 1</td>
            <td>Row 1, Cell 2</td>
            <td>Row 1, Cell 3</td>
            <td>Row 1, Cell 4</td>
            <td>Row 1, Cell 5</td>
            <td>Row 1, Cell 6</td>
          </tr>
          <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
            <td>Row 2, Cell 3</td>
            <td>Row 2, Cell 4</td>
            <td>Row 2, Cell 5</td>
            <td>Row 2, Cell 6</td>
          </tr>
          <tr>
            <td>Row 3, Cell 1</td>
            <td>Row 3, Cell 2</td>
            <td>Row 3, Cell 3</td>
            <td>Row 3, Cell 4</td>
            <td>Row 3, Cell 5</td>
            <td>Row 3, Cell 6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a
              class="page-link"
              (click)="previousPage()"
              role="button"
              tabindex="0"
              ><ion-icon name="arrow-back-outline"></ion-icon
            ></a>
          </li>
          <li class="page-item" *ngIf="visiblePages[0] > 1">
            <span class="page-link">...</span>
          </li>
          <li
            class="page-item"
            *ngFor="let page of visiblePages"
            [class.active]="page === currentPage">
            <a
              class="page-link"
              (click)="goToPage(page)"
              role="button"
              tabindex="0"
              >{{ page }}</a
            >
          </li>
          <li
            class="page-item"
            *ngIf="visiblePages[visiblePages.length - 1] < totalPages">
            <span class="page-link">...</span>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a
              class="page-link"
              (click)="nextPage()"
              role="button"
              tabindex="0"
              ><ion-icon name="arrow-forward-outline"></ion-icon
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </ion-card-content>
</ion-card>